@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Headland+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

 *,
*:before,
*:after {
    font-size: 14px;
    box-sizing: border-box;
}

body{
    max-width: 1280px;
    margin: 40px auto 40px auto;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 30px;
}


h1,h2{
    margin-bottom: 0;
    font-family: 'Headland One', serif;
}

h2{
    display: block;
    width: 100%;
    height: auto;
    background-color: #79bae2;
    color: #fff;
    font-size: 18px;
    margin-bottom: 7px;
    padding: 7px;
    font-weight: normal;
}

.tbl-brdr{
    width: 100%;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-collapse: collapse;
}

.tbl-brdr tr td:first-child,
.tbl-brdr tr th:first-child{
    width: 30%;
}

.tbl-brdr tr td:first-child{
    font-family: 'Source Code Pro', monospace;
}

.tbl-brdr tr td,
.tbl-brdr tr th{
    text-align: left;
    padding: 4px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.tbl-brdr tr th{
    background-color: #eee;
}
