@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  /* transition: all ease-in 0.2s; */
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

#wrapper {
  width: 800px;
  height: 400px;
  margin: 50px auto 0;
  border: 1px solid #ccc;
  padding: 20px;
}
.row {
  width: 100%;
  height: auto;
  float: left;
}

.row::after,
.row::before {
  clear: both;
}

ul.menu-inline,
ul.menu-inline li {
  list-style: none;
  list-style-type: none;
}

ul.menu-inline li {
  display: block;
  float: left;
}

ul.menu-inline li a {
  display: block;
  padding: 9px 15px;
  color: #9d9e9a;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #f5f5f5;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  transition: all 200ms cubic-bezier(0.55, 0, 0.1, 1);
}

ul.menu-inline li:last-child a{
  border-right: 1px solid #e5e5e5;
}

ul.menu-inline > li > a:hover,
ul.menu-inline > li > a:active,
ul.menu-inline > li > a:focus,
ul.menu-inline > li > a.active {
  background-color: #fff;
  border-bottom: 0;
  color: #615b5e;
  border-top: 2px solid #3975a5;
}

.hamburger {
  box-sizing: content-box;
  min-width: 50px;
  position: relative;
}

.lines {
  display: inline-block;
  width: 40%;
}

.lines:first-child {
  transform: translateX(-5px) translateY(2px);
}

.line {
  width: 100%;
  margin-top: 2px;
  height: 2px;
  float: left;
  background-color: #615b5e;
}

.line::after,
.line::before {
  clear: both;
}

.hamburger ul {
  display: none;
  width: 250px;
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 999;
  border-top: 1px solid #3975a5;
}

.hamburger:hover ul,
.hamburger ul:hover {
  display: block;
}

.hamburger ul::before {
  position: absolute;
  right: 30px;
  top: -10px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  z-index: 999;
  border-bottom: 5px solid #3975a5;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
}

.hamburger ul li {
  display: block;
  width: 100%;
}
.hamburger ul li a {
  border: 1px solid #e5e5e5;
  border-top: 0;
  background-color: #fff;
}

.hamburger ul li a:hover,
.hamburger ul li a:focus,
.hamburger ul li a:active,
.hamburger ul li a.hover {
  background-color: #f5f5f5;
  color: #333;
}

.section-container {
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    width: 100%;
    border:0;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #wrapper {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border-left:0;
    border-right:0;
  }
}
/* Desktops and laptops ----------- */
/* @media only screen and (min-width: 1224px) {
} */
