*,*::before,*::after{
    vertical-align: top;
    margin: 0;
    padding: 0;
}

body{
    padding: 50px;
    margin: 0 auto;
    max-width: 800px;
}

input[type="tel"]{
    padding: 7px;
    min-width: 250px;
}